
SetOutputFilter DEFLATE

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP_ACCEPT} image/webp
    RewriteCond %{DOCUMENT_ROOT}/$1.webp -f
    RewriteRule (.+)\.(jpe?g|png|gif)$ $1.webp [T=image/webp,E=REQUEST_image]
</IfModule>

<IfModule mod_headers.c>
    Header unset ETag
    Header set Cache-Control "max-age=7200, must-revalidate"

    <FilesMatch ".(css|js)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>

    <FilesMatch ".(mp4|ogg)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>

    <FilesMatch ".(webp|webm)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>

    <FilesMatch ".(ttf|eot|woff|woff2)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>

    <FilesMatch ".(ico|jpg|jpeg|png|svg)$">
        Header set Cache-Control "max-age=31536000, public"
    </FilesMatch>

    Header append Vary Accept env=REQUEST_image
</IfModule>

<IfModule mod_mime.c>
    AddType image/webp .webp    
</IfModule>