/*=================================================================*/
/*========================= RESET =================================*/
/*=================================================================*/

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;700&display=swap');

@font-face {
    font-family: 'Aquire';
    src: url('fonts/AquireLight.eot');
    src: url('fonts/AquireLight.eot?#iefix') format('embedded-opentype'),
         url('fonts/AquireLight.woff2') format('woff2'),
         url('fonts/AquireLight.woff') format('woff'),
         url('fonts/AquireLight.ttf') format('truetype'),
         url('fonts/AquireLight.svg#AquireLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aquire';
    src: url('fonts/AquireRegular.eot');
    src: url('fonts/AquireRegular.eot?#iefix') format('embedded-opentype'),
         url('fonts/AquireRegular.woff2') format('woff2'),
         url('fonts/AquireRegular.woff') format('woff'),
         url('fonts/AquireRegular.ttf') format('truetype'),
         url('fonts/AquireRegular.svg#AquireRegular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Aquire';
    src: url('fonts/AquireBold.eot');
    src: url('fonts/AquireBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/AquireBold.woff2') format('woff2'),
         url('fonts/AquireBold.woff') format('woff'),
         url('fonts/AquireBold.ttf') format('truetype'),
         url('fonts/AquireBold.svg#AquireBold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'icons';
  src: url('fonts/icons.eot?9gph4s');
  src: url('fonts/icons.eot?9gph4s#iefix') format('embedded-opentype'),
       url('fonts/icons.ttf?9gph4s') format('truetype'),
       url('fonts/icons.woff?9gph4s') format('woff'),
       url('fonts/icons.svg?9gph4s#icomoon') format('svg');
  
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

[class^="icon-"], [class*=" icon-"] {
  speak: never;
  line-height: 1;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;

  /* use !important to prevent issues with 
  browser extensions that change fonts */
  font-family: 'icons' !important;
  
  /* Better Font Rendering ======== */
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.icon-jquery:before     {content: "\e905"}
.icon-css:before        {content: "\e900"}
.icon-html:before       {content: "\e901"}
.icon-javascript:before {content: "\e902"}
.icon-php:before        {content: "\e903"}
.icon-wordpress:before  {content: "\e904"}
.icon-github:before     {content: "\e90d"}
.icon-id-card:before    {content: "\e90c"}
.icon-envelope:before   {content: "\e909"}
.icon-linkedin:before   {content: "\e90a"}
.icon-whatsapp:before   {content: "\e90b"}
.icon-sass:before       {content: "\e908"}
.icon-angular:before    {content: "\e907"}
.icon-bootstrap:before  {content: "\e906"}


/* variables */
:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-light: #DADCE2;

    --color-primary: #0466C8;
    --color-blue-dark: #023E7D;
    --color-blue-soft: #979DAC;
    --color-blue-gray: #33415C;
    --color-black-blue: #001845;
    --color-blue-marine: #002855;

    --font-jost: 'Jost', sans-serif;
    --font-aquire: 'Aquire', sans-serif;
}

/* globals */
* {
    border: 0;
    margin: 0;
    padding: 0;
    resize: none;
    outline: none;
    font-style: normal;
    box-sizing: border-box;
    background: transparent;
}

html,
body {
    font-size: 10px;
    line-height: 10px;
    position: relative;
    background: var(--color-white);
    font-family: var(--font-jost);
}

img {
    width: auto;
    height: auto;
    display: block;
    max-width: 100%;
}

strong {
    font-weight: 700;
}

a, 
button {
    cursor: pointer;
    transition: 0.3s ease;
    font-family: var(--font-jost);
}

a,
a:focus,
a:active {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

::-webkit-scrollbar {
    width: 1.0rem;
    border-radius: 0.2rem;
}

::-webkit-scrollbar-track {
    background: var(--color-light); 
}

::-webkit-scrollbar-thumb {
    transition: background 0.2s ease;
    background: rgba(151,157,172,0.8); 
}

/*=================================================================*/
/*======================== LIBRARY ================================*/
/*=================================================================*/
.for-reader {
    width: 0rem;
    height: 0rem;
    display: block;
    font-size: 0rem;
    overflow: hidden;
    line-height: 0rem;
}

.scroll-hidden {overflow: hidden}

.pos-relative {position: relative}
.pos-absolute {position: absolute}


.p-default {
    padding-top: 8.0rem;
    padding-bottom: 8.0rem;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 118.0rem;
}

/* flexbox */
.flex {display: flex}

.flex.wrap         {flex-wrap: wrap}
.flex.nowrap       {flex-wrap: nowrap}
.flex.wrap-reverse {flex-wrap: wrap-reverse}

.flex.row            {flex-direction: row}
.flex.row-reverse    {flex-direction: row-reverse}
.flex.column         {flex-direction: column}
.flex.column-reverse {flex-direction: column-reverse}

.flex.align-start    {align-items: flex-start}
.flex.align-end      {align-items: flex-end}
.flex.align-stretch  {align-items: stretch}
.flex.align-center   {align-items: center}
.flex.align-baseline {align-items: baseline}

.flex.justify-start         {justify-content: flex-start}
.flex.justify-end           {justify-content: flex-end}
.flex.justify-center        {justify-content: center}
.flex.justify-space-around  {justify-content: space-around}
.flex.justify-space-between {justify-content: space-between}
.flex.justify-space-evenly  {justify-content: space-evenly}

.flex > * {
    flex-grow: 0;
    flex-shrink: 0;
}

.flex > .col {
    max-width: 50%;
    flex-basis: 50%;
}

.col-xs {
    margin-left: auto;
    margin-right: auto;
    max-width: 38.6rem;
}

.col-sm {
    margin-left: auto;
    margin-right: auto;
    max-width: 46.0rem;
}

.col-md {
    margin-left: auto;
    margin-right: auto;
    max-width: 49.0rem;
}

/* editor */
.txt-left {text-align: left}
.txt-right {text-align: right}
.txt-center {text-align: center}

.editor .title {
    max-width: 75%;
    text-align: center;
    margin: 0rem auto 6.0rem;
}

.editor .title h2 + p {
    margin-top: 1.5rem;
}

.editor h2 {
    font-weight: 200;
    font-size: 4.0rem;
    line-height: 4.2rem;
    text-transform: uppercase;
    color: var(--color-blue-marine);
    font-family: var(--font-jost);
}

.editor small {
    display: block;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 1.0rem;
    letter-spacing: 0.135em;
    text-transform: uppercase;
    color: var(--color-primary);
    font-family: var(--font-aquire);
}

.editor p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: var(--color-blue-dark);
    font-family: var(--font-jost);
}

.editor h2 strong {
    font-weight: 400;
}

.editor h3 {
    font-weight: 200;
    font-size: 2.6rem;
    line-height: 3.6rem;
    color: var(--color-green);
}

.editor p,
.editor li {
    font-weight: 200;
    font-size: 2.0rem;
    line-height: 2.4rem;
    color: var(--color-gray);
    margin-bottom: 2.6rem;
}



/*=================================================================*/
/*================== FIRST CONTENTFUL PAINT =======================*/
/*=================================================================*/

/* header */
.site-header {
    top: 0rem;
    left: 0rem;
    right: 0rem;
    z-index: 200;
    position: fixed;
    background: transparent;
    transition: background 0.3s ease;
}

.site-header.shrink {
    background: var(--color-white);
}

.site-header .navbar {
    padding: 0rem 2.0rem;
    transition: height 0.4s ease;
}

.site-header .navbar.nav-sm {
    display: none;
}

.site-header .navbar.nav-lg {
    display: block;
    height: 12.0rem;
}

.site-header.shrink .navbar.nav-lg {
    height: 8.5rem;
}

.site-header .brand {
    width: 7.0rem;
    height: 7.0rem;
    display: block;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(images/icon-light.svg);
}

.site-header.shrink .brand {
    background-image: url(images/icon-dark.svg);
}

.site-header .toggle {
    display: none;
}

.site-header .navbar.nav-lg .menu {
    gap: 4.0rem;
    height: 100%;
}

.site-header .menu li a:not(.brand) {
    padding: 0rem 2.0rem;
    border: 1px solid transparent;

    display: block;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 3.0rem;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-white);
    font-family: var(--font-jost);
}

.site-header .menu li a.active {
    color: var(--color-white);
    border-color: var(--color-white);
    background: var(--color-blue-dark);
}

.site-header.shrink .menu li a {
    color: var(--color-blue-marine);
}

.site-header.shrink .menu li a.active {
    color: var(--color-white);
}

/* preload */
.preload {
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;

    z-index: 250;
    position: fixed;
    min-height: 42.0rem;
    background: var(--color-light);
}

.preload > div {
    height: 100%;
}

.preload .block {
    margin: 0rem auto;
    max-width: 86.0rem;
}

.preload .title {
    display: block;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    animation: WritingView 1.8s steps(90) normal both;
}

.preload .title span {
    font-weight: 400;
    font-size: 9.5rem;
    line-height: 10.0rem;
    letter-spacing: -0.01em;
    font-family: var(--font-aquire);

    position: relative;
    display: inline-block;
    background: linear-gradient(180deg, #001233 -12.05%, #023E7D 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.preload .title span:nth-child(1) {
    animation: 1.2s MoveLeft 1.8s forwards linear;
}

.preload .title span:nth-child(2) {
    animation: 1.2s MoveRight 1.8s forwards linear;
}

.preload .subtitle {
    display: block;
    text-align: center;
    margin: 0rem auto;
    max-width: 77.0rem;
}

.preload .subtitle span {
    font-weight: 300;
    font-size: 4.7rem;
    line-height: 5.3rem;
    letter-spacing: 0.10em;
    text-transform: uppercase;
    color: var(--color-blue-marine);
    font-family: var(--font-jost);

    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    animation: 1.8s ZoomIn 3s normal both;
}

.preload .subtitle span.dk {
    display: block;
}

.preload .subtitle span.mb {
    display: none;
}

/* section inicio */
#inicio {
	height: 100vh;
    padding-top: 12.0rem;
    min-height: calc(65.0rem - 12.0rem);
	background: linear-gradient(180deg, #001845 0%, #023E7D 100%);
}

#inicio .block {
	width: 65%;
	margin: 0rem auto;
}

#inicio .block img {
	width: 100%;
}

#inicio .block .links {
    gap: 2.0rem;
    margin-top: 2.0rem;
}

#inicio .block .links a {
    font-size: 3.5rem;
    color: var(--color-light);
}

#inicio .description {
    margin-top: 1.5rem;
}

#inicio .description,
#inicio .description svg {
	width: 100%;
    height: auto;
}

#inicio .description.dk {
    display: block;
}

#inicio .description.mb {
    display: none;
}

#inicio .scroll-down {
    left: 50%;
    bottom: 2.0rem;
    position: absolute;
    transform: translateX(-50%);

    display: flex;
    align-items: flex-end;
    justify-content: center;

    width: 3.0rem;
    height: 5.5rem;
    padding: 1.0rem 0rem;
    border-radius: 3.0rem;
    border: 1px solid var(--color-light);
    animation: yo-yo 4s infinite linear;
}

#inicio .scroll-down span {
    width: 5px;
    height: 5px;
    display: block;
    position: relative;
    border-radius: 100%;
    background: var(--color-light);
}

/* section sobre */
#sobre {
    top: 0rem;
    left: 0rem;
    right: 0rem;
    bottom: 0rem;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);

    opacity: 0%;
    z-index: 300;
    display: flex;
    align-items: center;
    padding: 4.0rem 3.0rem;
    justify-content: center;

    pointer-events: none;
    transition: 0.3s ease;
}

#sobre.show {
    opacity: 100%;
    pointer-events: auto;
}

#sobre .on-close {
    top: 0rem;
    right: 0rem;
    width: 5.0rem;
    height: 5.0rem;
    display: block;
    position: absolute;
    padding-right: 2px;
    border-radius: 1.2rem;
    transform: translate(50%,-50%);
    background: var(--color-blue-marine);
}

#sobre .on-close span {
    width: 3.5rem;
    display: block;
    height: 0.4rem;
    margin: 0rem auto;
    background: var(--color-light);
}

#sobre .on-close span:nth-child(1) {
    transform: rotate(45deg) translate(2px);
}

#sobre .on-close span:nth-child(2) {
    transform: rotate(-45deg) translate(2px);
}

#sobre .modal-container {
    height: 100%;
    position: relative;
    max-height: 75.0rem;
    border-radius: 1.2rem;
    padding: 6.0rem 4.0rem;
    background: var(--color-white);
}

#sobre .modal-content {
    gap: 3.0rem;
    height: 100%;
    overflow-y: auto;
    padding-right: 1.2rem;
}

#sobre .modal-content .photo {
    flex: 0 0 40%;
    overflow: hidden;
    max-width: calc(40% - 1.5rem);

    display: flex;
    height: 60.0rem;
    max-height: 100%;
    align-items: center;
}

#sobre .modal-content .photo img {
    height: 100%;
    object-fit: cover;
    margin: 0rem auto;
    border-radius: 1.5rem;
    object-position: center;
}

#sobre .modal-content .about {
    flex: 0 0 60%;
    text-align: left;
    max-width: calc(60% - 1.5rem);
}

#sobre .modal-content .about h2 {
    margin-bottom: 3.0rem;
}

#sobre .modal-content .about a {
    font-size: 1.4rem;
    line-height: 2.5rem;
    letter-spacing: 0.02em;
    color: var(--color-white);
    text-transform: uppercase;
    font-family: var(--font-jost);

    gap: 1.0rem;
    align-items: center;
    display: inline-flex;
    border-radius: 0.8rem;
    padding: 1.0rem 2.0rem;
    justify-content: center;
    background: var(--color-primary);
}

#sobre .modal-content .about a i {
    font-size: 2.0rem;
}


/*=================================================================*/
/*================= TRANSITIONS & ANIMATIONS ======================*/
/*=================================================================*/
@keyframes WritingView {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes MoveLeft {
    0% {
        left: 0rem;
    }
    100% {
        left: 4.0rem;
    }
}

@keyframes MoveRight {
    0% {
        right: 0rem;
    }

    100% {
        right: 4.0rem;
    }
}

@keyframes ZoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes yo-yo {
    0% {
        bottom: 2.0rem;
    }
    
    50% {
        bottom: 5.0rem;
    }

    100% {
        bottom: 2.0rem;
    }
}

.animate-fade-in,
.animate-scroll-up,
.animate-scroll-left,
.animate-scroll-right {
    opacity: 0;
    transition: 0.5s ease;
    transform: translate3d(0, 10%, 0);
}

.animate-fade-in {
    transform: translate3d(0, 0, 0);
}

.animate-scroll-left {
    transform: translate3d(-10%, 0, 0);
}

.animate-scroll-right {
    transform: translate3d(10%, 0, 0);
}

.animate-fade-in.visible {
    opacity: 1;
}

.animate-scroll-up.visible,
.animate-scroll-left.visible,
.animate-scroll-right.visible {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.animate-delay-1.visible {
    transition-delay: 0.1s;
}

.animate-delay-2.visible {
    transition-delay: 0.2s;
}

.animate-delay-3.visible {
    transition-delay: 0.3s;
}

.animate-delay-4.visible {
    transition-delay: 0.4s;
}

.animate-delay-5.visible {
    transition-delay: 0.5s;
}

.animate-delay-6.visible {
    transition-delay: 0.6s;
}

@media (min-width: 992px) {
    a:hover {
        color: inherit;
        text-decoration: none;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: rgba(151,157,172,1); 
    }

    .site-header .menu li a:hover {
        border-color: var(--color-white);
    }

    .site-header.shrink .menu li a:hover {
        border-color: var(--color-blue-dark);
    }

    #inicio .block .links a:hover {
        transform: scale(1.08);
    }
}

/*=================================================================*/
/*======================== RESPONSIVE =============================*/
/*=================================================================*/
@media (max-width: 991px) {
    html,
    body {
        font-size: 8px;
        line-height: 8px;
    }

    .container {
        padding-left: 2.0rem;
        padding-right: 2.0rem;
    }

    .editor .title {
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .editor .title {
        max-width: 100%;
    }

    .editor h2 {
        font-size: 3.6rem;
        line-height: 4.2rem;    
    } 

    .p-default {
        padding-top: 5.0rem;
        padding-bottom: 5.0rem;
    }

    .preload .block {
        max-width: 65.0rem;
    }

    .preload .title span {
        font-size: 7.2rem;
        line-height: 9.5rem;
    }

    .preload .subtitle span {
        font-size: 3.6rem;
        line-height: 4.8rem;
    }

    @keyframes MoveLeft {
        0% {
            left: 0rem;
        }
        100% {
            left: 3.1rem;
        }
    }

    @keyframes MoveRight {
        0% {
            right: 0rem;
        }

        100% {
            right: 3.1rem;
        }
    }

    .site-header .navbar.nav-sm {
        display: flex;
        height: 7.0rem;
    }

    .site-header .navbar.nav-lg {
        display: none;
    }

    .site-header .brand,
    .site-header.shrink .brand {
        width: 5rem;
        height: 5.0rem;
    }

    .site-header .toggle,
    .site-header .toggle span {
        display: block;
    }

    .site-header .toggle span {
        height: 3px;
        margin-left: auto;
        margin-bottom: 6px;
        background: var(--color-white);
    }

    .site-header .menu .toggle span,
    .site-header.shrink .toggle span {
        background: var(--color-blue-marine);
    }

    .site-header .navbar > .toggle span:nth-child(1) {
        width: 3.5rem;
    }

    .site-header .navbar > .toggle span:nth-child(2) {
        width: 2.2rem;
    }

    .site-header .navbar > .toggle span:nth-child(3) {
        width: 3.2rem;
        margin-bottom: 0rem;
    }

    .site-header .menu .toggle {
        top: 3.5rem;
        right: 3.5rem;
        position: absolute;
    }

    .site-header .menu .toggle span {
        width: 3.2rem;
    }

    .site-header .menu .toggle span:nth-child(1) {
        transform: rotate(45deg) translate(2px, 2px);
    }

    .site-header .menu .toggle span:nth-child(2) {
        transform: rotate(-45deg) translate(4px, -4px);
    }

    .site-header .menu {
        top: 0rem;
        left: 0rem;
        right: 0rem;
        bottom: 0rem;
        position: fixed;
        
        max-width: 100%;
        transition: 0.5s ease;
        transform: translateX(100%);
        background: var(--color-white);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .site-header .menu.active {
        transform: translateX(0%);
    }

    .site-header .menu ul {
        display: block;
        text-align: center;
    }

    .site-header .menu ul li {
        margin-bottom: 5.0rem;
    }

    .site-header .menu ul li:last-child {
        margin-bottom: 0rem;
    }

    .site-header .menu li a:not(.brand) {
        color: var(--color-blue-marine);
    }

    #inicio {
        padding-top: 7.0rem;
        height: calc(100vh - 7.0rem);
        min-height: calc(50.0rem - 7.0rem);
    }

    #sobre .modal-content .photo,
    #sobre .modal-content .about {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }

    #sobre .modal-content .photo {
        height: 40.0rem;
    }

    #sobre .modal-container {
        padding: 3.0rem 2.0rem;
    }
}

@media (max-width: 575px) {
    .preload .title span {
        font-size: 4.2rem;
        line-height: 5.8rem;
    }

    @keyframes MoveLeft {
        0% {
            left: 0rem;
        }
        100% {
            left: 1.9rem;
        }
    }

    @keyframes MoveRight {
        0% {
            right: 0rem;
        }

        100% {
            right: 1.9rem;
        }
    }

    .preload .subtitle span {
        font-size: 3.2rem;
        line-height: 4.5rem;
    }

    #inicio .description.dk,
    .preload .subtitle span.dk {
        display: none;
    }

    #inicio .description.mb,
    .preload .subtitle span.mb {
        display: block;
    }

    #inicio .description {
        width: 80%;
        margin: 1.2rem auto 0rem;
    }
}